hr { background: url( "../graphics/bar.png" ) no-repeat center center; height: 65px; width: 616px; margin: 20px auto; }

h3 strong { color: #ffffff; font-size: 1.5em; font-weight: bold; padding: 5px; background: #0860c3; }

div.before-class h3       { background: #ffda89; }
div.during-class h3       { background: #89ff8f; }
div.homework-assigned h3  { background: #ffbebe; }

div.before-class h3,
div.during-class h3,
div.homework-assigned h3 { padding: 10px; }


.syllabus-header { font-size: 1.2em; font-weight: bold; }
.syllabus-info { font-size: 1.2em; }


h5 { font-weight: bold; }
